.img-perfil{
	width: 100%;
	height: 100%;
	max-width: 150px;
	max-height: 150px;
	min-width: 100px;
	min-height: 100px;
	object-fit: cover;
}
.img-faixa{
	max-width: 150px;
	max-height: 150px;
	min-width: 100px;
	min-height: 100px;
}
.tabelaa{
	min-width: 360px;
}
.tabelab{
	max-width: 540px;
}